{>"layouts/appmaster" /}

{<body}
    <div class="page-aside">
      <div class="fixed">
        <div class="content">
          <button class="navbar-toggle" data-target=".app-nav" data-toggle="collapse" type="button">
            <span class="fa fa-chevron-down"></span>
          </button>          
          <h2>My Batch App</h2>
          <p class="description">Raptor Batch 2.0.0 | eBay | Live</p>
        </div>
        <div class="app-nav">
            <div class="content">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills nav-stacked margin-bottom">
	                  <li><a href="/app/activity"><i class="fa fa-rss-square fa-fw"></i>&nbsp; Activity</a></li>
	                  <li><a href="/app/lifecycle"><i class="fa fa-road fa-fw"></i>&nbsp; Lifecycle</a></li>
	                  <li><a href="/app/team"><i class="fa fa-users fa-fw"></i>&nbsp; Team</a></li>
	                  <li><a href="/app/monitor"><i class="fa fa-dashboard fa-fw"></i>&nbsp; Monitor</a></li>
	                  <li><a href="/app/deployment"><i class="fa fa-cloud fa-fw"></i>&nbsp; Deployment</a></li>
	                  <li><a href="/app/dependency"><i class="fa fa-code-fork fa-fw"></i>&nbsp; Dependency</a></li>
	                  <li><a href="/app/billing"><i class="fa fa-dollar fa-fw"></i>&nbsp; Billing</a></li>
	                  <li class="active"><a href="/app/setting"><i class="fa fa-cogs fa-fw"></i>&nbsp; Setting</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>    

	<div class="container-fluid" id="pcont">
	    <div class="page-head">
	        <h2><i class="fa fa-cogs fa-fw"></i>&nbsp; Setting</h2>
	    </div>    

		<div class="cl-mcont">
	      <div class="row dash-cols">
	      
<!-- =================================================================================================================== -->
	      
	        <div class="col-sm-12 col-md-12">
	        	<h2>Comming Soon</h2>
	        </div> 

<!-- =================================================================================================================== -->
	        
	      </div>
		</div>
	</div> 

{/body}
